.side-bar
  
  .side-bar__user-name
    .side-bar__user-name__box
      %p.side-bar__user-name__box__name
        = current_user.name
      %ul.side-bar__user-name__box__icons
        %li.side-bar__user-name__box__edit
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.side-bar__user-name__box__new
          = link_to edit_user_path(current_user.id) do
            = icon('fas', 'cog', class: 'icon')
  
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to messages_path(current_user.id), class:"group" do
          %p.side-bar__group-list__name
            = group.name
          %p.side-bar__group-list__message
            まだメッセージがありません